.header {
    width: 100svw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 3rem;
    margin: 1rem 0;
}

.navList {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.navLink {
    text-decoration: none;
    font-size: 1.5rem;
}